---
import Card from '../../components/Card.astro'
import chatTree from '../../data/chat-tree.json'
import Layout, { title } from '../../layouts/Layout.astro'

export function getStaticPaths() {
  return ['ja', 'en'].flatMap((lang) => chatTree.map((page) => ({ params: { lang, path: page.path } })))
}

const { lang, path } = Astro.params
if (lang !== 'ja' && lang !== 'en') {
  throw new Error('Not supported language')
}
const pageData = chatTree.find((page) => page.path === path)
if (pageData === undefined) {
  throw new Error('Page data not found')
}

const meta = {
  file: 'src/pages/[lang]/[...path].astro',
  url: path ?? '',
}
---

<Layout {...meta} frontmatter={{ ...meta, title: title[lang], lang }} headings={[]}>
  <div class='stack'>
    {pageData.page.map((fragment, index) => <Card lang={lang} {...fragment} last={index === pageData.page.length - 1} />)}
  </div>
</Layout>
<style>
  .stack {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
  }
</style>
